/* add CSS class and element and selectors here */
body {
      background-color: pink;
      font-size: 100%;
    }
       .Marnie {
      font-size: 100%;
      color: green;
      outline: 5px dotted orange;
      background-color: lightblue;
      font-family: Arial;
      border: 5px dotted white;
      letter-spacing: 5px;
      transition: rotate(-30)deg;
    }